@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Get to know a few of <a href="/parks">the US National Parks</a> from our API</p>
</div>